<xf:title>{{ phrase('geoblock_update_maxmind_database') }}</xf:title>

<xf:if is="$messages">
	<xf:foreach loop="$messages" value="$message">
		<div class="blockMessage blockMessage--{$message.type}">{{ $message.message }}</div>
	</xf:foreach>
</xf:if>

<xf:form action="{{ link('tools/update-maxmind') }}" class="block">
	<div class="block-container">
		<h2 class="block-header">{{ phrase('geoblock_maxmind_database') }}</h2>
		<div class="block-body">
			<xf:textboxrow name="maxmindDatabase" label="{{ phrase('geoblock_maxmind_database_path') }}" value="{$xf.options.geoblockDatabasePath}" readonly="true" />
			
		</div>
		<div class="block-body">
			<xf:textboxrow name="maxmindDescription" label="{{ phrase('geoblock_maxmind_database_description') }}" value="{{ $description }}" readonly="true" />			
		</div>			
		<div class="block-body">
			<xf:textboxrow name="maxmindTimestamp" label="{{ phrase('geoblock_maxmind_database_timestamp') }}" value="{{ $build ? date_time($build) : "" }}" readonly="true" />			
		</div>		
		<xf:submitrow submit="{{ phrase('geoblock_update_maxmind') }}" />
	</div>
</xf:form>